.App {
  text-align: center;
}

html, body, #root, #root>div {
  height: 100%
}

.pageContent{
  min-height: 80%
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.main-container {
    height:95%;
    display:flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-align-content: stretch;
    align-content: stretch;
}

.left {
    background-color:white;
    width:20%;
}

.right {
    background-color: white;
    -webkit-flex: 1;
    flex:1;
    position:relative;
}

.child {
    background-color:steelblue;
    position:absolute;
    width:100%;
    height:100%;    
}

.scrollable {
     /* overflow-y:auto; */
}

.left-container{
  box-sizing: border-box;
  padding: 5% 2%;
}

footer{
  background-color: gray;
  height:5%
}
